@import '../../../../styles/settings';

.root {
  width: 100%;
  @include flex(center,center);
  flex-wrap: wrap;
  .googleCont {
    width: 100%;
    .googleBtn {
      width: 100%;
      svg {
        font-size: 3rem;
        margin: 0 2rem;
      }
    }
  }
  .or {
    color: $main-font;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 2rem 0;
    fieldset {
      padding: 0 22rem;
      border: none;
      border-top: 1px solid $main-font;
      legend {
        padding: 0 1.3rem;
      }
    }
  }
  label {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 600;
  }
  input {
    width: 100%;
    margin-top: .7rem;
    margin-bottom: 2rem;
    height: 4rem;
    padding-left: 1rem;
    font-size: 1.2rem;
  }
}
@media (max-width: 479px) {
  .root {
    .googleCont {
      .googleBtn {
        font-size: 1.1rem;
        margin: 0;
        svg {
          font-size: 1.7rem;
          margin: 0 1rem;
        }
      }
    }
    .or {
      font-size: 1.2rem;
      margin: 2rem 0;
      fieldset {
        padding: 0 6rem;
        legend {
          padding: 0 1.3rem;
        }
      }
    }
    label {
      font-size: 1.2rem;
    }
    input {
      height: 3rem;
      padding-left: 1rem;
      font-size: 1rem;
    }
  }
}
@media (min-width: 480px) and (max-width: 770px) {
  .root {
    .googleCont {
      .googleBtn {
        font-size: 1.1rem;
        margin: 0;
        svg {
          font-size: 1.7rem;
          margin: 0 1rem;
        }
      }
    }
    .or {
      font-size: 1.2rem;
      margin: 2rem 0;
      fieldset {
        padding: 0 6rem;
        legend {
          padding: 0 1.3rem;
        }
      }
    }
    label {
      font-size: 1.2rem;
    }
    input {
      height: 3rem;
      padding-left: 1rem;
      font-size: 1rem;
    }
  }
}
