@import '../../../styles/settings';

.root {
  position: fixed;
  left: 0;
  height: 100%;
  width: 7rem;
  @include flex(space-between, center);
  background: linear-gradient(180deg,#000 10%,#32363f 200%);
  z-index: 98;
}

