@import '../../../styles/settings';

.root {
  @include flex(center, center);
  background-color: $second-font;
  color: $main-font;
  width: 100%;
  height: 6rem;
  .container {
    width: 100%;
    @include flex(space-between, center);
    margin: 0 2rem;
    div {
      @include flex(center, center);
      p {
        font-size: 1.4rem;
        margin-right: 1.5rem;
        svg {
          color: $main-btn;
          margin-right: .5rem;
        }
      }
    }
  }
}
