@import '../../../../../styles/settings';

.root {
  @include flex(center,flex-start);
  flex-wrap: wrap;
  margin-top: 8rem;
  width: 90%;
  background: $primary-white;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.2), -7px 7px 10px rgba(0, 0, 0, 0.2);
  max-width: 1715px;
  .smallSizeScreen {
    display: none;
  }
  .navigation {
    width: 100%;
    margin: 2rem 0 0 5rem;
    a {
      text-decoration: none;
      color: gray;
    }
    p {
      @include flex(flex-start, center);
      flex-wrap: wrap;
      font-size: 1.2rem;
      color: gray;
      svg {
        font-size: 1.3rem;
      }
    }
  }
  .container {
    width: 100%;
    height: auto;
    margin: 5rem 5rem 2rem;
    @include flex(center,flex-start);
    .general {
      width: 25%;
      @include flex(center,center);
      flex-wrap: wrap;
      span {
        @include flex(space-between,center);
        width: 100%;
        font-size: 1.3rem;
        font-weight: 800;
        text-transform: uppercase;
        padding: 1.5rem 0;
        cursor: pointer;
        transition: $main-transition;
        button {
          border: none;
          background: transparent;
          margin-right: .5rem;
          outline: none;
          cursor: pointer;
          svg {
            font-size: 2.5rem;
            transition: $main-transition;
          }
        }
        &:hover {
          color: $main-btn;
          svg {
            color: $main-btn;
          }
        }
      }
      span:first-of-type {
        border-bottom: 1px solid rgba(0,0,0,0.2);
      }
      div {
        font-family: 'Alfa Slab One', sans-serif;
        font-size: 1.3rem;
        margin: .5rem;
        text-align: left;
        font-weight: 400;
        a {
          font-weight: 800;
          color: $second-font;
        }
      }
    }
    .img {
      @include flex(center, center);
      width: 45%;
      height: 34rem;
      img {
        width: 20rem;
      }
    }
    .data {
      width: 30%;
      height: 100%;
      @include flex(start, flex-start);
      flex-wrap: wrap;
      margin: 0 1.5rem 0 .5rem;
      h3 {
        font-size: 2.7rem;
        width: 100%;
        margin-bottom: 2rem;
      }
      .ratingShort {
        width: 100%;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        padding: 1rem 0;
        p {
          font-size: 1.5rem;
        }
      }
      .desc {
        width: 100%;
        margin: 2rem 0;
        font-size: 1.2rem;
      }
      .priceContainer {
        width: 100%;
        @include flex(flex-start,center);
        border-bottom: 1px solid rgba(0,0,0,0.2);
        margin: 2rem 0;
        padding: 1rem 0;
        .stock {
          font-size: 1.1rem;
          color: #7BA659;
          text-transform: uppercase;
          font-weight: 800;
          svg {
            color: #7BA659;
            margin-left: .9rem;
          }
          span {
            font-weight: 300;
            color: grey;
            text-transform: lowercase;
          }
        }
        .price {
          font-size: 2.2rem;
          font-weight: 800;
        }
      }
      .quantity {
        @include flex(space-between, center);
        width: 100%;
        .btnContainer {
          width: 100%;
          button {
            font-size: 1.5rem;
            padding: 1rem;
            text-decoration: none;
            font-weight: 800;
            @include flex(center,center);
            width: 100%;
            height: 5rem;
            background: $main-btn;
            color: $main-font;
            transition: $main-transition;
            border: none;
            svg {
              margin-right: .5rem;
            }
            &:hover {
              background: $primary-light;
            }
          }
        }
      }
    }
  }
}
.addCart {
  @include flex(flex-start, center);
  flex-wrap: wrap;
  img {
    width: 8rem;
  }
  .name {
    margin-left: 1rem;
    p {
      font-size: 1.2rem;
      &:first-of-type {
        font-weight: 800;
        margin-bottom: 1rem;
      }
    }
  }
  .popBtn {
    @include flex(space-between, center);
    width: 100%;
    margin-top: 3rem;
    a {
      list-style: none;
      text-decoration: none;
    }
    p {
      text-transform: uppercase;
      font-size: 1.2rem;
      letter-spacing: .2rem;
      color: $primary-light;
      cursor: pointer;
      transition: $main-transition;
      &:hover {
        color: $main-btn;
      }
    }
    button {
      width: 12rem;
      height: 100%;
      font-size: 1.5rem;
      padding: 1rem;
      text-decoration: none;
      font-weight: 800;
      background: $main-btn;
      color: $main-font;
      transition: $main-transition;
      cursor: pointer;
      &:hover {
        background: $primary-light;
      }
    }
  }
}
@media (max-width: 479px) {
  .root {
    @include flex(center,center);
    width:100%;
    .smallSizeScreen {
      width: 100%;
      text-align: left;
      display: block;
      font-size: 1.8rem;
      margin-left: 1rem;
    }
    .navigation {
      margin: 1rem;
      p {
        font-size: 1rem;
        svg {
          font-size: 1.1rem;
        }
      }
    }
    .container {
      margin: 1rem 1rem 2rem;
      height: auto;
      @include flex(center,flex-start);
      flex-wrap: wrap;
      .general {
        width: 100%;
        span {
          font-size: 1.1rem;
          button {
            svg {
              font-size: 2rem;
            }
          }
        }
        div {
          font-size: 1rem;
        }
      }
      .img {
        width: 100%;
        height: auto;
        margin: 2rem 0;
        order: -1;
        img {
          width: 100%;
        }
      }
      .data {
        width: 100%;
        margin: 0 1.5rem 0 .5rem;
        h3 {
          display: none;
        }
        .ratingShort {
          display: none;
        }
        .priceContainer {
          @include flex(flex-start,center);
          flex-wrap: wrap;
          margin: 1rem 0;
          .stock {
            font-size: 0.8rem;
            width: 100%;
            order: -1;
            margin-bottom: 2rem;
            svg {
              margin-left: .7rem;
            }
          }
          .price {
            width: 100%;
            font-size: 1.8rem;
          }
        }
        .quantity {
          @include flex(center, center);
          .btnContainer {
            button {
              margin-bottom: 5rem;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 480px) and (max-width: 770px) {
  .root {
    @include flex(center,center);
    width:100%;
    .smallSizeScreen {
      width: 100%;
      text-align: center;
      display: block;
    }
    .navigation {
      margin: 1rem;
      p {
        font-size: 1rem;
        svg {
          font-size: 1.1rem;
        }
      }
    }
    .container {
      margin: 1rem 1rem 2rem;
      @include flex(center,flex-start);
      flex-wrap: wrap;
      .general {
        width: 100%;
        span {
          font-size: 1.1rem;
          button {
            svg {
              font-size: 2rem;
            }
          }
        }
        div {
          font-size: 1rem;
        }
      }
      .img {
        width: 100%;
        height: auto;
        margin: 2rem 0;
        order: -1;
        img {
          width: 100%;
        }
      }
      .data {
        width: 100%;
        margin: 0 1.5rem 0 .5rem;
        h3 {
          display: none;
        }
        .ratingShort {
          display: none;
        }
        .priceContainer {
          @include flex(flex-start,center);
          flex-wrap: wrap;
          margin: 1rem 0;
          .stock {
            font-size: 0.8rem;
            width: 100%;
            order: -1;
            margin-bottom: 2rem;
            svg {
              margin-left: .7rem;
            }
          }
          .price {
            width: 100%;
            font-size: 1.8rem;
          }
        }
        .quantity {
          @include flex(center, center);
          .btnContainer {
            button {
              margin-bottom: 5rem;
            }
          }
        }
      }
    }
  }
}
