@import '../../../../styles/settings';

.root {
  background: $main-font;
  width: 25rem;
  height: auto;
  .container {
    width: 100%;
    height: 100%;
    &:hover {
      background: $primary-white;
    }
    .photo {
      @include flex(center,center);
      width: 25rem;
      height: 25rem;
      img {
        width: 20rem;
        margin-bottom: 3rem;
      }
    }
    .data {
      height: 10rem;
      @include flex(center, center);
      flex-wrap: wrap;
      h3 {
        width: 100%;
        font-size: 1.6rem;
        margin: 1rem;
      }
      .dataInner {
        @include flex(space-between, center);
        width: 100%;
        margin: 1rem;
        p {
          font-size: 1.5rem;
          font-weight: 800;
        }
        svg {
          font-size: 2rem;
          transition: $main-transition;
          &:hover {
            color: $main-btn;
          }
        }
      }
    }
  }
}
.addCart {
  @include flex(flex-start, center);
  flex-wrap: wrap;
  img {
    width: 8rem;
  }
  .name {
    margin-left: 1rem;
    p {
      font-size: 1.2rem;
      &:first-of-type {
        font-weight: 800;
        margin-bottom: 1rem;
      }
    }
  }
  .popBtn {
    @include flex(space-between, center);
    width: 100%;
    margin-top: 3rem;
    a {
      list-style: none;
      text-decoration: none;
    }
    p {
      text-transform: uppercase;
      font-size: 1.2rem;
      letter-spacing: .2rem;
      color: $primary-light;
      cursor: pointer;
      transition: $main-transition;
      &:hover {
        color: $main-btn;
      }
    }
    button {
      width: 12rem;
      height: 100%;
      font-size: 1.5rem;
      padding: 1rem;
      text-decoration: none;
      font-weight: 800;
      background: $main-btn;
      color: $main-font;
      transition: $main-transition;
      cursor: pointer;
      &:hover {
        background: $primary-light;
      }
    }
  }
}

@media (max-width: 479px) {
  .root {
    width: 15rem;
    .container {
      margin-top: 1rem;
      .photo {
        @include flex(center,center);
        width: auto;
        height: 10rem;
        img {
          width: 10rem;
          margin-bottom: 1rem;
        }
      }
      .data {
        height: 6rem;
        @include flex(center, center);
        flex-wrap: wrap;
        margin-left: 1rem;
        h3 {
          width: 100%;
          height: 3rem;
          font-size: 1.3rem;
          margin: 0;
        }
        .dataInner {
          @include flex(space-between, center);
          width: 100%;
          margin: 1rem 0 0 0;
          p {
            font-size: 1.3rem;
            font-weight: 800;
          }
          div {
            svg {
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 480px) and (max-width: 770px) {
  .root {
    width: 15rem;
    .container {
      margin-top: 1rem;
      .photo {
        @include flex(center,center);
        width: auto;
        height: 10rem;
        img {
          width: 10rem;
          margin-bottom: 1rem;
        }
      }
      .data {
        height: 6rem;
        @include flex(center, center);
        flex-wrap: wrap;
        margin-left: 1rem;
        h3 {
          width: 100%;
          height: 3rem;
          font-size: 1.3rem;
          margin: 0;
        }
        .dataInner {
          @include flex(space-between, center);
          width: 100%;
          margin: 1rem 0 0 0;
          p {
            font-size: 1.3rem;
            font-weight: 800;
          }
          div {
            svg {
              font-size: 1.7rem;
            }
          }
        }
      }
    }
  }
}
