@import '../../../styles/settings';

.root {
  .subMenu {
    background: $primary-light;
    position: fixed;
    height: 7rem;
    width: 100%;
    top: 7rem;
    z-index: 98;
    @include flex(center, center);
    .list {
      margin-top: 1rem;
      a {
        text-decoration: none;
        color: $main-font;
        font-size: 1.8rem;
        margin: 0 1rem;
      }
    }
  }
  .featuresProd {
    margin-top: -6rem;
    margin-left: 5%;
  }
  .advert {
    position: relative;
    width: 100%;
    height: 30rem;
    padding-top: 9rem;
    margin-top: -6rem;
    background: $primary-light;
    z-index: -10;
    @include flex(center, center);
  }
  .productList {
    margin: 3rem;
  }
}
